.sidebar .tab-header {
    width: 100%;
}

    .sidebar .tab-header ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

        .sidebar .tab-header ul .tab {
            display: inline-block;
            border: 1px solid black;
            width: 48%;
            border-bottom: 0px;
            border-radius: 5px 5px 0px 0px;
        }

            .sidebar .tab-header ul .tab.active {
                color: #fff;
                background: #000;
            }

            .sidebar .tab-header ul .tab a {
                padding: 0px 10px;
                text-decoration: none;
            }

.sidebar .tab-content {
}

    .sidebar .tab-content div {
    }

        .sidebar .tab-content div.inactive {
            display: none;
        }

.sidebar .pannel-reviews {
}

    .sidebar .pannel-reviews .review:first-child {
        margin-top:2px;
    }

    .sidebar .pannel-reviews .review {
        margin-left: 1px;
        border: 1px solid black
    }
        .sidebar .pannel-reviews .review .title {
        }

        .sidebar .pannel-reviews .review .description {
        }

.main-section .title-comment {
    font-style: italic;
    color: #989696;
    font-size: 0.8em;
}

.main-section .row {
    display: block;
    width: 100%;
}

.row{
    display:block;
}

.row .column:first-child{
    float:left;
    width:50%;
}

.row .column:last-child{
    float:right;
}

.row:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.row a.button{
    background-color: rgb(0, 180, 0);
    border: 1px solid rgb(0, 180,0);
    color: white;
    font-weight: bold;
    padding: 5px;
    min-width: 75px;
    text-decoration:none;
    vertical-align:middle;
}