.form {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 15px;
    width: 500px;
}

.field {
    width: 500px;    
}

.field label {
    display: block;
    color: rgb(150, 150, 150);
    margin-left: 5px;
}

.input {
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    font-family: 'Segoe UI';
    font-size: 12pt;
    font-weight: 100;
    width: 475px;
    margin: 5px 0;
}

.multiline {
    height: 200px;
    width: 300px;
}

.choice-list {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.choice-list div {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    width: 75px;
    text-align: center;
    background-color: rgb(225, 225, 225);
    color: rgb(150,150,150);
    line-height: 20px;
}

    .choice-list div:hover {
        cursor: pointer;
    }

.item-left {
    border-radius: 10px 0 0 10px;
}

.item-right {
    border-radius: 0 10px 10px 0;
}

.button-red:hover {
    background-color: rgb(180, 0, 0);
    color: white;
}

.button-green:hover {
    background-color: rgb(0, 180, 0);
    color: white;
}

.button-orange:hover {
    background-color: rgb(210, 170, 15);
    color: white;
}

.button-blue {
    background-color: rgb(30, 160, 215);
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px;
}

/* Colors */

