.profile-image
{
    width: 90px;
    height: 90px;
    vertical-align: top;
    border-radius: 10px;
    border: 3px solid rgb(70, 115, 195);
    box-shadow: 1px 1px 5px black;
    display: inline-block;
}

.profile-content
{
    display: inline-block;
    margin-left: 5px;
}

.bio
{
    margin-top: 15px;
    width: 450px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.skills
{
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    margin-top: 10px;
    width: 250px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(200, 200, 200);
}

.skill-point
{
    height: 15px;
    width: 5px;
    border: 1px solid green;
    background-color: lightgreen;
    padding: 0;
    margin-right: -2px;
    display: inline-block;
    vertical-align: middle;
}

.skill-text
{
    display: inline-block;
    vertical-align: middle;
    font-size: 9pt;
    font-weight: bold;
    color: rgb(100, 100, 100);
    margin-left: 5px;
}
