.profile-image
{
    width: 90px;
    height: 90px;
    vertical-align: top;
    border-radius: 10px;
    border: 3px solid rgb(70, 115, 195);
    box-shadow: 1px 1px 5px black;
    display: inline-block;
}

.profile-content
{
    display: inline-block;
    margin-left: 5px;
}

.bio {
    margin-top: 15px;
    width: 450px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(200, 200, 200);
}

