.nav-header
{
    background-color: rgb(35,35,35);
    color: white;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
}

.brand
{
    font-size: 24pt;
    font-weight: 100;
    vertical-align: middle;
    margin-left: 15px;
}