<div class="sidebar">
    <div class="tab-header">
        <ul>
            <li class="tab active" ><a data-content="informal">Informal</a></li>
            <li class="tab" ><a data-content="reviews">Reviews</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="informal" class="pannel-reviews">
            <div class="review">
                <span class="pill green">GOOD</span>
                <span class="description">You did this and that and it was an excelent proposal for our customer</span>
                <span class="reviewer">litodam</span>
            </div>
            <div class="review">
                <span class="pill green">GOOD</span>
                <span class="description">You did this and that again. You rock!</span>
                <span class="reviewer">hmeydac</span>
            </div>
            <div class="review">
                <span class="pill red">BAD</span>
                <span class="description">You forgot to upload ISO Mails</span>
                <span class="reviewer">litodam</span>
            </div>
            <div class="review">
                <span class="pill orange">IMPROVE</span>
                <span class="description">You are sending very poor mails. You should improve the way you comunicate your choices</span>
                <span class="reviewer">jrowies</span>
            </div>
            <div class="review">
                <span class="pill red">BAD</span>
                <span class="description">You keep doing the same mistake over and over. Are you f****** stupid ?</span>
                <span class="reviewer">genriquez</span>
            </div>
        </div>
        <div id="reviews" class="inactive">
            <label>Reviews</label>
            
        </div>
    </div>
</div>