<h1>My Review</h1>
<section>
    <div class="week">
        <img class="arrow-icon flip-icon" src="~/Content/images/right.png" />
        <img class="week-icon" src="~/Content/images/calendar.png" />
        <div>Week 2013w15</div>
        <img class="arrow-icon" src="~/Content/images/right.png" />
    </div>
    <div class="reviews">
        <div class="review-header lightred">
            <div class="review-title red">the bad</div>
        </div>
        <div class="review-text border-red">
            <div>You didn't do what you meant to do</div>
            <div>Try this faster.</div>
        </div>
        <div class="review-header lightgreen">
            <div class="review-title green">the good</div>
        </div>
        <div class="review-text border-green">
            <div>You didn't do what you meant to do</div>
            <div>Try this faster.</div>
        </div>
        <div class="review-header lightorange">
            <div class="review-title orange">to improve</div>
        </div>
        <div class="review-text border-orange">
            <div>You didn't do what you meant to do</div>
            <div>Try this faster.</div>
        </div>
    </div>
</section>
