<h1>Submit Feedback</h1>
<section class="form">
    <div class="field">
        <label>to</label>
        <input class="input" type="search" placeholder="Name of the person" />
    </div>
    <div class="field">
        <label>type</label>
        <ul class="choice-list">
            <li class="item-left green">good</li>
            <li class="red">bad</li>
            <li class="item-right orange">improve</li>
        </ul>
    </div>
    <div class="field">
        <label>feedback</label>
        <textarea class="input" rows="5"></textarea>
    </div>
</section>
