<h1>Submit Feedback</h1>
<p>Select the developer you want to provide your feedback.</p>
<input class="input" type="search" placeholder="Name of the person" />
<div class="choice-list">
    <div class="button-green item-left">good</div>
    <div class="button-red">bad</div>
    <div class="button-orange item-right">improve</div>
</div>
<textarea class="input" rows="5" placeholder="Provide your feedback"></textarea>
<div>
    <button class="button-blue">Submit Feedback</button></div>
