@model Feedby.UI.Web.Models.UserProfileModel
@{
    ViewBag.Title = "Details";
}


@{
    this.Html.RenderPartial("ReviewerProfileSideBar");
}

<section class="main-section">
    <div>
        <img class="profile-image" src="@this.Model.ProfileImageUrl" />
        <div class="profile-content">
            <div class="title">@this.Model.FullName</div>
            <div class="subtitle">Position: LED</div>
            <div class="description">
                <img class="icon" src="~/Content/images/email.png" />
                <a href="mailto:@this.Model.Email">@this.Model.Email</a>
            </div>
        </div>
    </div>
    <div class="bio">
        <div class="subtitle">Bio</div>
        <div>@this.Model.Bio</div>
    </div>
    <ul class="action-buttons">
        <li class="button-blue">Submit Feedback</li>
        <li class="button-blue">Create Review</li>
    </ul>
</section>
