<div class="sidebar">
    <div class="title">Views</div>
    <div class="sidebar-subtitle">Profile Filters</div>
    <div class="sidebar-list">
        <div class="sidebar-button">All Profiles
            <div class="sidebar-button-glyph">5</div>
        </div>
        <div class="sidebar-button">My Team [Not Implemented]</div>
        <div class="sidebar-button">My Favorites [Not Implemented]</div>
    </div>
    <div class="sidebar-subtitle">Recent Profiles [Not Implemented]</div>
    <div class="sidebar-list">
@*        <div class="sidebar-profile profile">
            <img src="~/Content/images/jarguello.jpg" />
            <div class="sidebar-profile-name">Juan Arguello</div>
        </div>
        <div class="sidebar-profile profile">
            <img src="~/Content/images/jarguello.jpg" />
            <div class="sidebar-profile-name">Jorge Rowies</div>
        </div>
        <div class="sidebar-profile profile">
            <img src="~/Content/images/jarguello.jpg" />
            <div class="sidebar-profile-name">Hernán Meydac Jean</div>
        </div>*@
    </div>
</div>