@model List<Feedby.Profiles.Contracts.UserProfile>

@{
    if (this.Model == null || this.Model.Count == 0)
    {
    <div class="timeline-container">No records found.</div>
    }
    else
    {
    <div>
        <div class="subtitle underline">Filtered Results</div>
        <div class="sidebar-list">
            @{
                foreach (Feedby.Profiles.Contracts.UserProfile profile in this.Model)
                {
                    <div class="sidebar-profile profile">
                        <img src="~/Content/images/jarguello.jpg" />
                        <div class="sidebar-profile-name">@profile.FirstName @profile.LastName</div>
                    </div>
                }   
            }
        </div>
    </div>
    }
}
