<div class="subtitle underline">Filtered Results</div>
<div class="sidebar-list">
    <div class="sidebar-profile profile">
        <img src="~/Content/images/jarguello.jpg" />
        <div class="sidebar-profile-name">Juan Arguello</div>
    </div>
    <div class="sidebar-profile profile">
        <img src="~/Content/images/jarguello.jpg" />
        <div class="sidebar-profile-name">Jorge Rowies</div>
    </div>
    <div class="sidebar-profile profile">
        <img src="~/Content/images/jarguello.jpg" />
        <div class="sidebar-profile-name">Hernán Meydac Jean</div>
    </div>
</div>
