<div class="sidebar">
    <div class="title">Quick Info</div>
    <div class="sidebar-list">
        <div class="sidebar-button">
            Last Review
            <div class="sidebar-button-glyph">2013w20</div>
        </div>
        <div class="sidebar-button">
            Current Week
            <div class="sidebar-button-glyph">2013w21</div>
        </div>
    </div>
    <div class="title">Latest Activity</div>
    <div class="sidebar-subtitle">Submitted Feedback</div>
    <div class="sidebar-feedback positive-feedback">Jorge did an excellent job describing this page. The more he involves, the more this tool gets greater.</div>
    <div class="sidebar-feedback improvement-feedback">You need to improve your HTML skills.</div>
    <div class="sidebar-feedback negative-feedback">You didn't buy Facturas yesterday.</div>
</div>
