<div class="sidebar">
    <div class="title">Quick Info</div>
    <div class="sidebar-list">
        <div class="sidebar-button">
            Last Review
            <div class="sidebar-button-glyph">2013w20</div>
        </div>
        <div class="sidebar-button">
            Current Week
            <div class="sidebar-button-glyph">2013w21</div>
        </div>
    </div>
    <div class="title">Latest Activity</div>
    <img class="loading-indicator" src="~/Content/images/loading.gif"></img>
    <div id="recentActivity" class="overflow"></div>
</div>
