<div class="navbar main-menu">
    <div class="navbar-inner" data-toggle="buttons-radio">
        <a class="brand" href="#">Feedby</a>
        <ul class="nav">     
            <li class="@(this.Model.Current == "Home" ? "active" : string.Empty)" data-toggle="button"><a href="@Url.Action("Index", "Home")">My Reviews</a></li>
            <li class=""@(this.Model.Current == "Submit" ? "active" : string.Empty)" data-toggle="button"><a href="@Url.Action("Submit", "Home")">Submit Feedback</a></li>
        </ul>
    </div>
</div>